
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomVariable</title>
</head>
<body>
    <div>
        <div> the controller is :@ViewBag.Controller</div>
        <div> the action is :@ViewBag.Action</div>
        <div> the custom variable is :@ViewBag.CustomVariable</div>
    </div>
</body>
</html>
